*{
    box-sizing: border-box
}

body{
    background-image:url("../images/top.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #cccc;
}

h1{
    text-decoration-style: solid;
    color: rgb(245, 245, 125);
    background-color: rgba(131, 94, 94, 0.87);
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
}

#rules{
    text-decoration-style: solid;
    color: rgb(245, 245, 125);
    background-color: rgba(131, 94, 94, 0.87);
    padding: 20px;
    height: 600px;
    text-align: left;
    font-size: 18px;
    margin: auto;
}

.container{
    text-decoration-style: solid;
    color: rgb(245, 245, 125);
    background-color: rgba(131, 94, 94, 0.87);
    padding: 20px;
    margin-bottom: 20px;
}

#count{
    text-decoration-style: solid;
    color: rgb(245, 245, 125);
    background-color: rgba(131, 94, 94, 0.87);
    padding: 20px;
    margin-bottom: 20px;
}

.button {
    clear: both;
    width: 33%;
    margin-bottom: 20px;
}